body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2d2e36;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#card {
  max-width: 300px;
  background-color: #383a45;
  border-radius: 0.5em;
  margin-right: 1.75em;
  margin-left: 1.875em;
  padding: 1.5625em 1.6875em 1.875em 1.5625em;
}

a {
  text-decoration: none;
}

img#mountain {
  width: 304px;
  height: 290px;
  border-radius: 0.5em;
  display: block;
  margin-bottom: 1.625em;
  margin-inline: auto;
}

#card h1 {
  color: #fff;
  line-height: 119.7%;
  font-weight: normal;
  /* font-size: 1.875rem; */
  margin-bottom: 1.75em;
}

#card p {
  color: #8d91a6;
  line-height: 152.7%;
  margin-bottom: 0.6875em;
}

@media only screen and (min-width: 660px) {
  a {
    display: flex;
    align-items: center;
  }

  #card {
    padding-block: 1.875em;
    padding-inline: 1.6875em;
    /* display: flex;
    align-items: center; */
    max-width: 700px;
  }

  #card h1 {
    margin-bottom: 0.9em;
  }
  #card p {
    margin-bottom: 1.875em;
  }

  img#mountain {
    width: 262px;
    height: 250px;
    margin-right: 2.375em;
    margin-bottom: initial;
  }
}
